# IDE & OS files
.idea/
*.iml
.DS_Store
Thumbs.db

# Compiled source
out/
build/
*.class

# Database (Ignore all DB files)
*.db
*.sqlite
db/*.db
db/*.sqlite

# EXCEPTION: Track the localization database
!db/locale.db

# Logs & Temp
logs/
*.log
tmp/

# Test data & specific directories
testData/
doc/
src/test/
tasks_html/